html {
  background-color: #f0f0f0;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 10vw, 1.5rem); 
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0 1em;
  text-rendering: optimizespeed;
}

main {
  padding-right: calc(240px + 1rem);
}

aside {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
}

@media screen and (max-width: 992px) {
  main {
    padding-right: 0;
  }

  aside {
    display: none;
  }
}
